extends layout

block content
  div.container
    div.content
      table.table.table-striped
        thead
          tr
            th Checkbox
            th Course ID
            th Course Name
            th No. of credit
            th Lecturer
        tbody
  div.footer
